:root{
    
    /* --primary: #007bff; */
    --primary: #516eff;
    --lightprimary:#0056b3;
    --white:#ffffff;
    --silver:#bcbcbc9e;
    --defaultLinkColor:#333;
    --yellow:#fddf3b;
    --muted:#777777;
    --whiteBG:#f8fafc;
}
/* :root{
    
    --primary: #007bff;
    --primary: #516eff;
    --lightprimary:#0056b3;
    --white:#ffffff;
    --silver:#bcbcbc9e;
    --defaultLinkColor:#333;
    --yellow:#FFD700;
    --muted:#777777;
    --whiteBG:#F8FAFC;
} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,serif;
}

html{
    scroll-behavior: smooth;
}
#header{
    background-color:var(--white);
    /* height: 90vh; */
    display: flex;
    justify-content: center;
    z-index: 1;
}
.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    right:0;
    left:0;
    top: 0;
    padding: 20px 0;
    background-color: var(--white);
    border-bottom: 1px solid var(--defaultLinkColor);
    z-index: 5;
}
.navbar .hader-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.navbar .logo{
    border: none;
}

.navbar .logo img{
    width: 200px;
    
}
.appoinment{
    border-radius: 10px;
    transition: 0.5s ease-in;
    cursor: pointer;
    color: var(--white);
}

.appoinment .login{
    background-color: var(--lightprimary);
    border: 1px solid var(--primary);
    color: var(--white);
    padding: 10px 15px;
    border-radius: 10px;
}
.appoinment .login:hover{
    background-color: #516eff;
    color: var(--white);
}
.navbar div nav ul li.Appoinment  a{
   
    color: var(--white);
}
.navbar ul{
    display: flex;
    width: 120%;
}
.navbar ul li{
    padding: 10px 15px;
    margin: 10px;
    list-style-type: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #777777;
    font-weight: bold;
    transition: 0.5s ease-in;
}

.navbar ul li a:hover{
    color: var(--lightprimary);
}
.navbar ul li .active{
    color: var(--primary);
    font-weight: bold;

}

.header-contents{
    display: flex;
    align-items: center;
    width: 90%;
    padding-top: 160px;
}
.header-content{
    font-size: 1.6em;
    width: 50%;
}
.header-content span{
    color: var(--yellow);
}
.header-img{
    width: 50%;
    display: flex;
    justify-content: center;
}


.header-contents img{
    width: 550px;
    border-radius: 50px;
}

.header-contents h1{
    margin: 20px 0;
}
.header-contents p{
    color: var(--muted);
    margin: 20px 0;
    line-height: 1.5;
}

.header-content .header-button{
    display: flex;
    align-items: center;
    margin-top: 40px;
}
.header-content .header-button button{
    margin-right: 60px;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 0.7em;
}
.btn-bleu{
    background-color: var(--primary);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in;
    border: none;
}
.btn-bleu:hover{
    background-color: var(--yellow);
    color: var(--defaultLinkColor);
}
#services{
    margin-top: 30px;
    width: 100%;
    /* height: 1710px; */
}
.service{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary);
    height: 300px;
    padding: 60px;
}
.titre-service h2{
    color: var(--white);
    font-size: 2.5em;
    margin-bottom:10px ;
}
.titre-service p{
    color: var(--white);
}
.service-reserves{
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-reserve{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: var(--white);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.service-reserve img{
    width: 50px;
    margin-bottom: 20px;
}

.service-provise{
    display: flex;
    background-color: var(--white);
}
.service-provise .provise-img{
    width: 40%;
    border-radius: 0 0 190px 0;
    background-color: var(--whiteBG);
}
.service-provise .provise-img img{
    width: 80%;
    margin: 100px 0 100px 120px;
}
.service-provise .provises{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 420px;
    background-color: var(--white);
}

.service-provise .provises .provise{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
}
.service-provise .provises .provise div{
    justify-content: center;
    align-items: center;
}
.service-provise .provises .provise div img{
    margin-top: 15px;
}
.service-provise .provises h2{
    margin-bottom: 20px;
}
.service-provise .provise .provise1{
    margin: 20px;
    width: 30%;
}
.service-provise .provise .provise1 div span{
    margin-top: 15px;
}

.features{
    height: 50px;
    margin-bottom: 30px;
}
.feature{
    display: flex;
    align-items: center;
    height: 100px;
    font-size: 2.2em;
}
.features p{
    height: 50px;
    font-size: 3em;
    color: var(--muted);
}

.feature .special{
    width: 20%;
}
.feature .key span{
    color: var(--yellow);
    margin: 0 10px;
}
.feature .key{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.3em;
    padding-bottom: 20px;
}

.feature .key::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--muted);
    transform: translateY(50px);
    margin-top: 10px;
}

/* grid */
.grid{
    margin: 0 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 70%);
}

.grid .item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--whiteBG);
    margin: 20px;
    padding: 0 20px;
    border-radius: 20px;
    color: var(--muted);
    height: 300px;
}
.grid .item img{
    width: 90px;
}
.grid .item h3{
    margin: 10px 0;
}

/* section History */

#history .smile{
    background-color: var(--primary);
    padding: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--white);
}
#history{
    background-color: var(--white);
}
#history .smile span{
    font-size: 1.5em;
}
#history .smile p{
    width: 60%;
    margin: 20px;
    color: var(--whiteBG);
    line-height: 1.8;
}
#history .smile button{
    padding: 20px 50px;
    border: 1px solid var(--white);
    background-color: var(--primary);
    color: var(--whiteBG);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease-in;
}
#history .smile button:hover{
    background-color: var(--lightprimary);
    border: 1px solid var(--lightprimary);
}
.historie{
    margin: 40px 0;
    width: 100%;
}
.historie .histor{
    display: flex;
    align-items: center;
    /* height: 50px; */
}
.historie div hr{
    width: 100%;
    border: 1px solid var(--muted);
    margin: 0;
}
.historie p{
    display: flex;
    justify-content: end;
    font-size: 1.8em;
    font-weight: bold;
}
.historie .histor .titre-histot1{
    width: 100%;
    font-size: 2em;
    /* padding-bottom: 30px; */
    text-align: center;
    margin: 0;
}
.historie .histor .titre-histot1::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--muted);
    transform: translateY(40px);
    /* margin-top: 10px; */
    left: 0;
}
.historie .histor .titre-histot1 span{
    color: #FFD700;
}
.historie .histor .titre-histot2{
    width: 10%;
    display: flex;
    justify-content: end;
    font-size: 2em;
}

.doctor-history{
    display: flex;
    justify-content: stretch;
    margin: 0 70px;
}
.doctor-history .history-img{
    width: 50%;
    margin: 0 50px;
}
.doctor-history .history-img img{
    width: 80%;
    border-radius: 15px;
}

.doctor-history .history-para{
    width: 50%;
    background-color: var(--whiteBG);
    padding: 20px;
    border-radius: 15px;
}
.doctor-history .history-para h2{
    margin:15px 0 ;
}
.doctor-history .history-para p{
    color: var(--muted);
    line-height: 2;
}
.meets{
    background-color: var(--white);
    margin-top: 70px;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* .meets .meet-doctor{
    display: flex;
} */
.meets .meet p{
    font-size: 1.8em;
}
.meets .meet-doctor .titre1{
    width: 15%;
    font-size: 3em;
}
.meets .meet-doctor .titre2{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding-bottom: 30px;
}
.meets .meet-doctor .titre2::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--muted);
    transform: translateY(40px);
}
.meets .meet-doctor .titre2 span{
    color: var(--yellow);
}

/* gird appoinment doctor */
.doctors{
    /* margin: 50px 200px; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,40%);
    gap: 2rem;
    width: 80%;
    margin: auto;
}

.doctors .doctor{
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 1px solid var(--silver);
    flex-wrap: wrap;
}

.doctors .doctor h3{
    margin: 10px 0;
    width: 100%;
}

.doctors .doctor img{
    width: 180px;
}
.doctors .doctor p{
    padding: 15px;
    line-height: 1.5;
}
.doctors .doctor button{
    padding: 10px 50px;
    border: 1px solid var(--primary);
    background-color: var(--white);
    color: var(--primary);
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.5s ease-in;
}
.doctors .doctor button:hover{
    background-color: var(--primary);
    color: var(--white);
}

/* section about */
#abouts{
    margin-top: 0;
}
#abouts .about{
    background-color: var(--primary);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
#abouts .about .about-img{
    margin: 0 20px;
    padding: 30px;
    width: 300px;
    background-color: var(--white);
    text-align: center;
    border-radius: 15px;
}
#abouts .about .about-img img{
    width: 200px;
    margin-bottom: 10px;
    border-radius: 15px;
}
#abouts .about .about-para{
    width: 60%;
    padding: 30px;
}
#abouts .about .about-para h2{
    color: var(--white);
}
#abouts .about .about-para p{
    margin-top: 30px;
    color: var(--whiteBG);
    line-height: 1.8;
}
#abouts .about .about-para .ab{
    text-align: center;
    font-size: 3em;
}

/* contact */
.contact{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
}
.contacte{
    display: flex;
    width: 80%;
}
.contact .contact-img{
    width: 50%;
    display: flex;
    justify-content: center;
}
.contact .contact-img img{
    width: 400px;
    border-radius: 40px;
}
.contact .contact-form{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact .contact-form form{
    width: 90%;
}
.contact-form .form{
    display: flex;
    width: 100%;
    margin: 15px 20px;
}
.contact-form .form-checkbox{
    margin: 15px 20px;
}
.contact-form .form div{
    width: 100%;
}
.contact-form .form .f1{
    padding: 0 20px 0 0;
}

.contact-form .form1{
    display: flex;
    flex-direction: column;
}
.contact-form .form1 .phon{
    position: absolute;
    width:70px ;
    margin-top: 30px;
    height: 30px;
    border: none;
    margin-left: 10px;
}
.contact-form .form1 .ph{
    padding-left: 80px;
}
.contact-form .form1 .phon:focus{
    outline: none;
}
.contact-form .form input[type="text"],
input[type="number"],
input[type="date"],
select{
    padding: 8px;
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid var(--silver);
    background-color: var(--white);
}
.contact-form .form textarea{
    padding: 30px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: var(--white);
    border: 1px solid var(--silver);
}
.contact-form .form button{
    background-color: var(--primary);
    color: var(--white);
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease-in;
}
.contact-form .form button:hover{
    background-color: var(--lightprimary);
}

/* subscribe */
.subscribes{
    background-color: var(--whiteBG);
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribes .subscribe{
    border: 1px solid #333;
    margin: 70px 0;
    padding: 50px 30px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(5, 86, 108);
    color: var(--white);
    width: 80%;
    font-size: 1.2em;
}

.subscribes .subscribe .subscribe-form{
    margin: 20px 0;
}
.subscribes .subscribe .subscribe-form input{
    padding: 9px;
    margin: 10px;
    background-color: rgb(97, 151, 165);
    border: none;
    color: var(--white);
    border-radius: 10px;
}
.subscribes .subscribe .subscribe-form button{
    padding: 9px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease-in;
}
.subscribes .subscribe .subscribe-form button:hover{
    background-color: rgb(97, 151, 165);
    color: var(--white);
}

footer div{
    display: flex;
    justify-content: center;
}

.items1{
    padding: 50px 0;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    width: 50%;
}
footer .items1 .item{
    width: 40%;
    padding: 30px;
    height: 230px;
    display: flex;
    flex-direction: column;
}
.items1 .item img{
    width: 130px;
    filter: brightness(1500%);
    
}
.items1 .item1{
    border-right:2px solid var(--whiteBG) ;
}
.item p span{
font-size: 1.6em;
font-weight: bold;
color: var(--white);
}


.items1 .item p{
    margin: 5px 0;
    color: var(--whiteBG);
}
.items1 .item h4{
    margin-bottom: 20px;
    font-size: 0.8em;
    font-weight: 0;
}
.items .item .item-s{
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}
.items .item .item-s a{
    text-decoration: none;
    color: var(--white);
}



.items2{
    padding: 50px 0;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    width: 50%;
}
footer .items2 .item{
    width: 100%;
    padding: 30px;
    height: 230px;
    display: flex;
    flex-direction: column;
}
.items2 .item img{
    width: 130px;
    filter: brightness(1500%);
    
}
.items2 .item1{
    border-right:2px solid var(--whiteBG) ;
}
.item p span{
font-size: 1.6em;
font-weight: bold;
color: var(--white);
}


.items2 .item p{
    margin: 5px 0;
    color: var(--whiteBG);
}
.items2 .item h4{
    margin-bottom: 20px;
    font-size: 0.8em;
    font-weight: 0;
}
.items2 .item .item-s{
    display: flex;
    width: 100%;
    padding: 15px 0;
    justify-content: space-between;
}
.items2 .item .item-s div{
    display: flex;
    flex-direction: column;
}
.items2 .item .item-s a{
    text-decoration: none;
    color: var(--white);
}
.p1{
    line-height: 1.8;
} 

.footer{
    text-align: center;
    padding: 25px 0;
    background-color: rgb(5, 86, 108);
    color: var(--whiteBG);
}


.navbar .menu_toggle{
    display: none;
}
button{
    border: none;
}


/* login */
